/* Style the body of the page with:
Default text is Arial font with Verdana as a fallback option
Black background (use hexadecimal values)
White font (use hexadecimal values)
Margin of 20px on the top and sides.  None on the bottom. */

body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

/* Style the h1 heading with:
42px centered font
Padding of 15px */

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

/* Style the h2 heading with:
30px dark gray font (#0D0D0D)  */

h2{
    font-size: 30px;
    color:#0D0D0D;
}

/* Style the default paragraphs with:
24px font
Padding of 10px on the top and left only */
p{
    font-size: 24px;
    padding: 10px 0 0 10px;
}

/* Style the default style for images so that:
All images are 250px wide  (do not set a height)
All images are centered
All images have a white 10px dashed border
 */
img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #FFFFFF;
}

/* Style the default div elements with:
 A flexible height of at least 125px tall 
 Padding of 20px on all sides
A 3px solid white border on all sides. */
div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

/* Style the introduction class with:
15px border-radius (to curve the edges)
Margin of 15px margin on the top
Double-spaced text
*/
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

/* Style the red class with: 
Background color is hexadecimal value for red
Text is aligned on the right side 
A left margin of 50px;
A  border of 2px on the bottom and 5px on the left;
 */

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border: none;
    border-bottom: 2px solid;
    border-left: 5px solid;
}

/* The blue div has the following styles
Background color is hex value for blue
Text is aligned on the left side
A right margin of 50px;
A  border of 5px on the right and 2px on the top;
Use #C4C4C4 for the heading and paragraph text
 */
.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border: none;
    border-right: 5px solid;
    border-top: 2px solid;
}

.blue h2, .blue p{
    color: #C4C4C4;
}

/* The yellow div has the following styles
Background color is hexadecimal value for yellow 
Text is aligned on the right side
A left margin of 50px;
A border of 2px on the bottom and 5px on the left;
WAVE YOUR PAGE!!!!  Uh oh.  Let's fix the color contrast here  too
Use #707070 for the paragraph text
 */
.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border: none;
    border-bottom: 2px solid;
    border-left: 5px solid;
}
.yellow p{
    color: #707070;
}

/* The green div has the following styles:
The background color is a hexadecimal value for green  (You must use #00EB00, #008500, or #00D800)
Text is aligned on the left side
A right margin of 50px;
A  border of 5px on the right and 2px on the top;
 */
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border: none;
    border-right: 5px solid;
    border-top: 2px solid;
}

/* Style the default footer elements with:
a gradient background that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000.
A 5px solid white border. */
footer{
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
}

/* Style any paragraphs within the footer with:
20px text that is aligned to the right.
Padding of 15px on the top, right, and bottom only. (No padding on the left.) */
footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}

/* XYW Jan 28 2026 */